@charset "utf-8";
* {margin: 0;padding: 0;}img {border-style: none;}body {background: #e6e6e6;font-family: 'DINNextLTPro-Regular';}

li {list-style-type: none;}.description {float: right;width: 46%;/* min-height:727px;*/}
.button {text-decoration: none;color: #fff;padding: 10px;background: #f00;text-transform: uppercase;display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;
}.no-touch .button:hover, .button:focus, .button:active {    -webkit-transform: translateY(-8px);    transform: translateY(-8px);}

.buttonLoad {display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;
}.no-touch .buttonLoad:hover, .buttonLoad:focus, .buttonLoad:active {-webkit-transform: translateY(-8px);    transform: translateY(-8px);}

#slider {
	overflow: hidden;
	height: 884px;
	position: relative;
	background-color: #242329;
}.home_div1 {position: relative;/*clear: both;*/overflow: hidden;/*height:884px;*/height: 100%;}.homebg {width: 100%}

.fadeIn {/*-webkit-animation: fadeIn ease-in 1.6s 1; -moz-animation: fadeIn ease-in 1.6s 1;animation: fadeIn ease-in 1.6s 1;opacity: 1; filter: alpha(opacity=100);*/display: block;}.move1 {left: 30%;top: 18%;}.move2 {left: 58%;top: 60%;}.move3 {left: 20%;}.move4 {left: 25%;}.move5 {left: 5%;}.move6 {left: 58%;}.move7 {left: 62%;top: 18%;}.round {position: absolute;right: 2%;top: 40%}.wround {border: 8px solid #fff;border-radius: 20px;margin: 20px 0px;cursor: pointer;}.active4 {border: 8px solid #f00;}
